/Class3_Exercise3/nbproject/private/
/Class3_Exercise3/build/
/Class3_Exercise4/nbproject/private/
/Class3_Exercise4/build/
/Class4_Challenge1/nbproject/private/
/Class4_Challenge1/build/
/Class5_Exercise1/nbproject/private/
/Class5_Exercise1/build/
/Class5_Exercise2/nbproject/private/
/Class5_Exercise2/build/
/Class5_Exercise3/nbproject/private/
/Class5_Exercise4/nbproject/private/
/Class6_Example1/nbproject/private/
/Class5_Exercise3/build/
/Class7_Example1/nbproject/private/
/Class7_Example1/build/
/Class8_Example1/nbproject/private/
/Class8_Example1/build/
/Class8_Exercise1/nbproject/private/
/Class8_Exercise2/nbproject/private/
/Class8_Exercise3/nbproject/private/
/Class8_Exercise4/nbproject/private/
/Class8_Exercise4/build/
/Class8_Exercise3/build/
/Class9_ExamplePolymorphism/nbproject/private/
/Class9_ExamplePolymorphism/build/
/Class9_ExampleQuadrilatero/nbproject/private/
/Class9_ExampleQuadrilatero/build/
/Class10_Exercise1/nbproject/private/
/Class10_Exercise1/build/
/Class10.1_ExerciseArrayList/nbproject/private/
/Class10.1_ExerciseArrayList/build/
/Class11_Exercirse1/nbproject/private/
/Class11_Exercirse1/build/
/Class11_Exercise2/nbproject/private/
/Class11_Exercise2/build/
/Class11_Exercise3/nbproject/private/
/Class11_Exercise3/build/
/Class12_Example1/nbproject/private/
/Class13_Example1/nbproject/private/
/Class13_Example1/build/
/Class14_Example1/nbproject/private/
/Class14_Example1/build/
/Class14_Exercise1/nbproject/private/
/Class14_Exercise1/build/
/Class14_Exercise2/nbproject/private/
/Class14_Exercise2/build/